<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ids-peak-local" value="C:\Users\Administrator\.nuget\packages\idsimaging.peak.api\1.13.0.1" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ids-peak-local">
      <package pattern="IDSImaging.Peak.API*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
